﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Job Vacancy Board - find the best jobs</title>
    <!-- Le styles -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="masthead">
            <div class="container">
                <div class="app-title">
                    <h1>
                        Job Vacancy Board</h1>
                </div>
                <div class="profile">
                </div>
            </div>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="">Home</a></li>
                            <li><a href="">Job Offers</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
        <div class="container">
            <div>
            </div>
            @RenderBody()
        </div>
        <!-- footer -->
        <div class="footer">
            <hr />
            <p>
                Job Vacancy Board by Kleer | 2013</p>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>
